@charset "UTF-8";
*, html, body, div, p,
footer, header, section,
h1, h2, h3, h4, h5, h6,
ul, ol, li, a {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 400;
}

.font__weigth500 {
  font-weight: 500;
}
.font__weigth600 {
  font-weight: 600;
}
.font__uppercase {
  text-transform: uppercase;
}
.font__no-wrap {
  white-space: nowrap;
}

.color__white {
  color: #fff;
}
.color__black {
  color: #000;
}
.color__orange {
  color: #FA4500;
}

.background__white {
  background: #fff;
}
.background__black {
  background: #000;
}
.background__main {
  background: rgb(44, 44, 44);
}
.background__orange {
  background: #FA4500;
}

.shared {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.shared__container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.shared__header {
  font-size: 1.8rem;
  margin: 0 50px;
}
.shared__line {
  height: 2.01px;
  width: 140px;
}
.shared__inblock {
  display: inline-block;
}

header {
  width: 100%;
  background-color: rgb(44, 44, 44);
  position: fixed;
  z-index: 9999;
  opacity: 0.7;
}
header ~ .block {
  height: 100px;
  background-color: rgb(44, 44, 44);
}

.nav-mobile {
  display: none;
}
.nav__list {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}
.nav__list-item {
  padding: 0 20px;
}
.nav__list-item:last-child {
  padding-right: 0;
}
.nav__list-item:first-child {
  padding-left: 0;
}
.nav__list-logo {
  margin: 0 50px;
}

.intro {
  position: relative;
  height: 700px;
  background: url("./assets/intro__background.png") no-repeat;
  background-size: cover; /* Фон занимает всю доступную площадь */
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.intro__inner {
  display: inherit;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.intro__title {
  font-size: 1.8rem;
}
.intro__subtitle {
  font-size: 2rem;
}
.intro__arrow {
  position: relative;
  margin-bottom: 10px;
  -webkit-animation: intro__arrow 2s infinite;
          animation: intro__arrow 2s infinite;
}
.intro__arrow-top {
  position: absolute;
}
.intro__arrow-bottom {
  margin-top: 15px;
}
@-webkit-keyframes intro__arrow {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}
@keyframes intro__arrow {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}

.about {
  position: relative;
}
.about-mobile__info, .about-mobile__description {
  display: none;
}
.about-mobile__slogan {
  display: none;
}
.about-desctop__slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-desctop__slogan :first-child {
  position: absolute;
}
.about-desctop__slogan :last-child {
  position: absolute;
  left: 25px;
  bottom: 10px;
}
.about-desctop__description {
  margin-top: 60px;
  text-align: center;
}
.about__info {
  display: flex;
  justify-content: space-around;
}
.about__info-top {
  margin-top: 100px;
  margin-bottom: 115px;
}
.about__info-box {
  display: flex;
}
.about__info-box > span {
  color: #000;
}
.about__footer {
  margin: 100px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__footer-title {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #000;
}
.about__footer-text {
  color: #000;
  max-width: 650px;
}

.products {
  padding-top: 0.1px;
}
.products__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products__cards {
  display: flex;
  justify-content: space-around;
}
.products__card {
  margin-bottom: 40px;
  position: relative;
}
.products__card > img {
  opacity: 0.37;
}
.products__card > img:hover {
  opacity: 1;
}
.products__card-title {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}

.doors {
  position: relative;
  margin: 20px 0 40px;
}
.doors__body {
  display: flex;
  flex-direction: column;
}
.doors__body-top {
  display: flex;
  justify-content: space-between;
}
.doors__body-top > .doors__img {
  margin-right: 50px;
  margin-left: 20px;
}
.doors__body-top > .doors__img > div > img {
  min-height: 430px;
}
.doors__body-top > div > .doors__info {
  padding-right: 20px;
}
.doors__body-bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 60px 0 40px;
}
.doors__body-bottom > .doors__img {
  margin-right: 20px;
  margin-left: 50px;
}
.doors__body-bottom > div > .doors__info {
  padding-left: 20px;
}
.doors__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.doors__info-title {
  margin-bottom: 25px;
}
.doors__info-title > p {
  color: rgb(250, 69, 0);
  font-size: 1.2rem;
}
.doors__info-params {
  margin: 20px 0;
}
.doors__info-switch {
  display: flex;
}

.drawer {
  display: flex;
  position: relative;
}
.drawer__info {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
}
.drawer__info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 33.3333%;
  margin-bottom: 60px;
}
.drawer__info-box > p {
  min-width: 310px;
}
.drawer__gallery {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.drawer__gallery-items {
  width: 100%;
  height: auto;
}
.drawer__gallery-item {
  width: 100%;
  height: auto;
}
.drawer__gallery-item > img {
  width: 100%;
  height: auto;
}
.drawer__gallery-switch {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.profiled {
  margin: 50px 0 0;
}
.profiled__body {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.profiled__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.profiled__top-info {
  max-width: 600px;
  margin-right: 20px;
}
.profiled__top-info > h2 {
  margin-top: -25px;
  margin-bottom: 25px;
  font-size: 1.2rem;
}
.profiled__top-images {
  display: flex;
}
.profiled__j, .profiled__f {
  margin-right: 30px;
}
.profiled__j-description, .profiled__f-description {
  display: flex;
  justify-content: space-between;
}
.profiled__j-description > h2, .profiled__f-description > h2 {
  font-size: 1.2rem;
}
.profiled__f {
  margin-right: 0;
}
.profiled__line {
  height: 1px;
  width: 125px;
  background: #000;
  display: flex;
  align-self: center;
}
.profiled__bottom {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.profiled__bottom > .profiled__info {
  min-width: 200px;
  margin-left: 20px;
}
.profiled__bottom > .profiled__info > h2 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.profiled__bottom > .profiled__slider {
  display: flex;
  position: relative;
}
.profiled__bottom > .profiled__slider > .profiled__info-switch {
  position: absolute;
  display: flex;
  right: 20px;
  top: 330px;
}
.profiled__bottom > .profiled__slider > .profiled__img > div > h3 {
  margin-top: 10px;
}

.doors {
  position: relative;
  margin: 20px 0 0;
}
.doors__container {
  display: flex;
}
.doors__body {
  display: flex;
  flex-direction: column;
}
.doors__body-top {
  display: flex;
  justify-content: space-between;
}
.doors__body-top > .doors__img {
  margin-right: 50px;
  margin-left: 20px;
  height: auto;
  width: 100%;
}
.doors__body-top > .doors__img > div {
  width: 100%;
  height: auto;
}
.doors__body-top > .doors__img > div > img {
  width: 100%;
  height: auto;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.doors__body-top > div > .doors__info {
  padding-right: 20px;
}
.doors__body-bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 60px 0 40px;
}
.doors__body-bottom > .doors__img {
  margin-right: 20px;
  margin-left: 50px;
  height: auto;
  width: 100%;
}
.doors__body-bottom > .doors__img > div {
  width: 100%;
  height: auto;
}
.doors__body-bottom > .doors__img > div > img {
  width: 100%;
  height: auto;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.doors__body-bottom > div > .doors__info {
  padding-left: 20px;
}
.doors__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.doors__info-title {
  margin-bottom: 25px;
}
.doors__info-title > p {
  color: rgb(250, 69, 0);
  font-size: 1.2rem;
}
.doors__info-params {
  margin: 20px 0;
}
.doors__info-switch {
  display: flex;
}

.materials {
  margin: 20px 20px 20px;
}
.materials__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.materials__title {
  margin: 0 100px 0;
}
.materials__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.materials__content {
  position: relative;
  height: 140px;
  width: 100%;
}
.materials__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.materials__button > a {
  position: relative;
  display: inline-block;
  padding: 20px 180px;
  color: rgb(250, 69, 0);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s;
  letter-spacing: 4px;
  border-radius: 27px;
  white-space: nowrap;
}
.materials__button > a:hover {
  background: rgb(250, 69, 0);
  color: #fff;
}

.form {
  height: 800px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: rgb(40, 40, 40);
}
.form__picture {
  width: 50%;
  position: relative;
  opacity: 0.4;
}
.form__picture > img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form__content {
  position: relative;
  width: 50%;
}
.form__box {
  position: absolute;
  width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__box > h3 {
  text-align: center;
  margin-bottom: 40px;
}
.form__box > form > h4 {
  margin-bottom: 40px;
}
.form__user {
  position: relative;
}
.form__user > input {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: none;
  border-radius: 0;
}
.form__user > label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0.4;
}
.form__checkbox {
  display: flex;
  justify-content: space-between;
}
.form__button {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  padding: 20px 180px;
  color: rgb(250, 69, 0);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s;
  letter-spacing: 4px;
  border-radius: 27px;
  background-color: transparent;
  border: 1px solid rgb(250, 69, 0);
}
.form__button:hover {
  background: rgb(250, 69, 0);
  color: #fff;
}

.form__box .form__user input:focus ~ label {
  top: -20px;
  left: 0;
  color: rgb(250, 69, 0);
  font-size: 12px;
}

.materials__box a span,
.form__box a span {
  position: absolute;
  display: block;
}

.materials__box a span:nth-child(1),
.form__box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(250, 69, 0));
  -webkit-animation: btn-anim1 2s linear infinite;
          animation: btn-anim1 2s linear infinite;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.materials__box a span:nth-child(2),
.form__box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(250, 69, 0));
  -webkit-animation: btn-anim2 2s linear infinite;
          animation: btn-anim2 2s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.materials__box a span:nth-child(3),
.form__box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(250, 69, 0));
  -webkit-animation: btn-anim3 2s linear infinite;
          animation: btn-anim3 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.materials__box a span:nth-child(4),
.form__box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(250, 69, 0));
  -webkit-animation: btn-anim4 2s linear infinite;
          animation: btn-anim4 2s linear infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.main {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}
.main > span {
  font-size: 0.8rem;
  color: #fff;
}

/* Hide the default checkbox */
input[type=checkbox] {
  visibility: hidden;
  display: none;
}

/* Creating a custom checkbox
based on demand */
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid rgb(250, 69, 0);
}

.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

.main input:checked ~ .geekmark:after {
  display: block;
}

.main .geekmark:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid rgb(250, 69, 0);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.contacts__body {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 60px 0 80px;
}
.contacts__info {
  display: flex;
  align-self: center;
}
.contacts__info > div > h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.contacts__main {
  margin-right: 50px;
}
.contacts__main, .contacts__manufacture {
  min-width: 199px;
  max-width: 201px;
}
.contacts__img > img {
  min-height: 275px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}
.footer__items-tablet, .footer__items-mobile {
  display: none;
}
.footer__item > p {
  font-size: 0.9rem;
}
.footer__item-name:first-child {
  margin-bottom: 10px;
}
.footer__banner {
  margin-left: 50px;
}
.footer__social {
  display: flex;
  justify-content: center;
}
.footer__social > .footer__social-icon {
  margin-right: 10px;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.icon__rhomb {
  border: 11px solid transparent;
  border-bottom: 15px solid rgb(250, 69, 0);
  position: relative;
  top: -11px;
  width: 0px;
  height: 0px;
}
.icon__rhomb::after {
  content: "";
  position: absolute;
  left: -11px;
  top: 15px;
  border: 11px solid transparent;
  border-top: 15px solid rgb(250, 69, 0);
  width: 0px;
  height: 0px;
}

.arrow__left {
  cursor: pointer;
  position: relative;
  width: 55px;
  height: 5px;
  margin: 10px;
}
.arrow__left div {
  position: relative;
  top: 10px;
  width: 60px;
  height: 2px;
  display: block;
}
.arrow__left div::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: -3px;
  left: -2px;
  background-color: inherit;
  transform: rotate(135deg);
}
.arrow__left div::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 3px;
  left: -2px;
  background-color: inherit;
  transform: rotate(-135deg);
}
.arrow__right {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 25px;
  margin: 10px;
  margin-left: 50px;
}
.arrow__right div {
  position: relative;
  top: 10px;
  width: 60px;
  height: 2px;
  display: block;
}
.arrow__right div::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: -3px;
  right: -2px;
  background-color: inherit;
  transform: rotate(45deg);
}
.arrow__right div::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 3px;
  right: -2px;
  background-color: inherit;
  transform: rotate(-45deg);
}

.wodo__arrow {
  margin-left: 20px;
}
.wodo__arrow-l {
  position: relative;
}
.wodo__arrow-l > .wodo__arrow-left {
  margin-left: 80px;
  top: -20px;
  display: none;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 15px solid rgba(199, 199, 199, 0.8);
}
.wodo__arrow-r > .wodo__arrow-right {
  margin-left: 50px;
  top: -20px;
  display: none;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 15px solid rgba(199, 199, 199, 0.8);
}

textarea {
  max-height: 110px;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  resize: none;
  outline: none;
  overflow: hidden;
  font-size: 0.8rem;
  border-radius: 0;
}

.form__question > label {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

textarea:focus ~ label,
textarea:checked ~ label {
  left: 0;
  color: rgb(250, 69, 0);
  font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#go-top {
  position: fixed;
  bottom: 70px;
  right: 40px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  width: 60px;
  height: 50px;
  background: transparent;
  line-height: 30px;
  border: 3px solid rgb(250, 69, 0);
  justify-content: center;
  align-items: center;
}
#go-top > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgba(199, 199, 199, 0.8);
}

#go-top:hover {
  background: #333;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  header ~ .block {
    height: 100px;
  }
  .nav__list {
    height: 100px;
  }
  .nav__list-item {
    padding: 0 15px;
  }
  .nav__list-item:last-child, .nav__list-item:first-child {
    padding: 0;
  }
  .nav__list-item > a {
    font-size: 0.9rem;
  }
  .nav__list-logo {
    margin: 0 20px;
  }
  .about-desctop__description {
    margin-top: 0;
  }
  .about-desctop__description > p {
    font-size: 0.9rem;
  }
  .about__info-box > span {
    font-size: 0.9rem;
  }
  .about__footer-title {
    font-size: 1.2rem;
  }
  .about__footer-text {
    font-size: 0.9rem;
  }
  .products__cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .products__card {
    position: relative;
    margin-bottom: 30px;
  }
  .products__card > img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 250px;
    height: 325px;
  }
  .products__card-title {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-size: 1.25rem;
  }
  .doors__body-top {
    width: auto;
  }
  .doors__body-top > .doors__img {
    height: inherit;
    width: 100%;
    margin-right: 30px;
  }
  .doors__body-bottom {
    width: auto;
  }
  .drawer__info-box > p {
    min-width: 250px;
    font-size: 0.8rem;
  }
  .profiled__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .profiled__top-info {
    max-width: 500px;
  }
  .profiled__top-info > h2 {
    margin-top: -25px;
    margin-bottom: 25px;
    font-size: 1rem;
  }
  .profiled__top-info > p {
    font-size: 0.8rem;
  }
  .profiled__top-images {
    display: flex;
  }
  .profiled__j, .profiled__f {
    margin-right: 30px;
  }
  .profiled__j-description, .profiled__f-description {
    display: flex;
    justify-content: space-between;
  }
  .profiled__j-description > h2, .profiled__f-description > h2 {
    font-size: 1rem;
  }
  .profiled__f {
    margin-right: 0;
  }
  .profiled__line {
    height: 1px;
    width: 100px;
    background: #000;
    display: flex;
    align-self: center;
  }
  .profiled__bottom {
    display: flex;
    align-self: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .profiled__bottom > .profiled__info {
    min-width: 200px;
    margin-left: 30px;
  }
  .profiled__bottom > .profiled__info > h2 {
    margin-bottom: 20px;
    font-size: 1rem;
  }
  .profiled__bottom > .profiled__info > p {
    font-size: 0.8rem;
  }
  .materials {
    margin: 20px 20px 20px;
  }
  .materials__header {
    margin-bottom: 20px;
  }
  .materials__icon > img {
    width: 300px;
    height: auto;
  }
  .materials__button > a {
    padding: 20px 115px;
  }
  .form {
    height: 850px;
  }
  .form__content {
    width: 100%;
  }
  .form__picture {
    display: none;
  }
  .form__button {
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .shared {
    margin: 30px 0;
  }
  .shared__header {
    font-size: 1.3rem;
    margin: 0 30px;
  }
  .shared__line {
    width: 100px;
  }
  header ~ .block {
    height: 60px;
  }
  .nav {
    display: none;
  }
  .nav-mobile {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .nav-mobile__logo > img {
    height: 40px;
  }
  .nav-mobile__menu {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .nav-mobile__menu > .nav__list-item {
    padding: 0 8px;
    overflow: hidden;
  }
  .nav-mobile__menu > .nav__list-item:last-child {
    padding-right: 0;
  }
  .nav-mobile__menu > .nav__list-item > a {
    font-size: 0.7rem;
  }
  .nav-mobile__container-menu {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-mobile__button, .nav-mobile__button::before, .nav-mobile__button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  .nav-mobile__button::before {
    content: "";
    margin-top: -8px;
  }
  .nav-mobile__button::after {
    content: "";
    margin-top: 8px;
  }
  #menu-toggle {
    display: none;
  }
  #menu-toggle:checked + .nav-mobile__container-menu .menu-button {
    background-color: transparent;
  }
  #menu-toggle:checked + .nav-mobile__container-menu .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  #menu-toggle:checked + .nav-mobile__container-menu .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  .intro {
    height: 60vh;
    width: auto;
  }
  .intro__title {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .intro__subtitle {
    font-size: 1.5rem;
  }
  .about {
    position: relative;
    height: 700px;
  }
  .about-desctop__info, .about-desctop__description, .about-desctop__slogan {
    display: none;
  }
  .about-mobile__slogan {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .about-mobile__slogan :first-child {
    position: absolute;
  }
  .about-mobile__slogan :last-child {
    position: absolute;
    left: 25px;
    bottom: 10px;
  }
  .about-mobile__description {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    margin-bottom: 20px;
  }
  .about-mobile__info {
    display: flex;
    flex-direction: column;
  }
  .about-mobile__info-box {
    margin-left: 20%;
    display: flex;
    align-items: center;
  }
  .about-mobile__info-box:last-child {
    margin-left: calc(20% + 50px);
    width: 400px;
  }
  .about-mobile__info-box > .text {
    color: #000;
    padding: 10px 0;
  }
  .products {
    margin-top: 30px;
  }
  .products__title {
    margin: 0 50px 20px;
  }
  .products__cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .products__card {
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .products__card:last-child {
    margin-right: 0;
  }
  .products__card > img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 250px;
    height: 325px;
  }
  .products__card-title {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-size: 1rem;
  }
  .doors__container {
    display: block;
    margin-top: 10px;
  }
  .doors__body-top {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .doors__body-top > .doors__img {
    margin: 0 auto;
    width: auto;
  }
  .doors__body-top > .doors__img > div {
    margin: 0 auto;
  }
  .doors__body-top > .doors__img > div > img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .doors__body-bottom {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .doors__body-bottom > .doors__img {
    margin: 0 auto;
    width: auto;
  }
  .doors__body-bottom > .doors__img > div {
    margin: 0 auto;
  }
  .doors__body-bottom > .doors__img > div > img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .doors__info {
    max-width: 890px;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
  }
  .doors__info-switch {
    position: absolute;
    top: 0;
    right: 40px;
  }
  .drawer__info {
    margin-top: 30px;
  }
  .drawer__info-box {
    width: 50%;
  }
  .drawer__gallery-switch {
    margin: 15px 0;
  }
  .profiled {
    margin: 20px 0;
  }
  .profiled__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .profiled__top-info {
    max-width: 650px;
  }
  .profiled__top-info > h2 {
    font-size: 1.2rem;
    margin-bottom: 25px;
  }
  .profiled__top-info > p {
    font-size: 1rem;
    margin-bottom: 25px;
  }
  .profiled__top-images {
    display: flex;
  }
  .profiled__j, .profiled__f {
    margin-right: 30px;
  }
  .profiled__j-description, .profiled__f-description {
    display: flex;
    justify-content: space-between;
  }
  .profiled__j-description > h2, .profiled__f-description > h2 {
    font-size: 1rem;
  }
  .profiled__f {
    margin-right: 0;
  }
  .profiled__line {
    height: 1px;
    width: 125px;
    background: #000;
    display: flex;
    align-self: center;
  }
  .profiled__bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .profiled__bottom > .profiled__info {
    max-width: 650px;
    min-width: 200px;
    margin-left: 30px;
  }
  .profiled__bottom > .profiled__info > h2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  .profiled__bottom > .profiled__info > p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .materials {
    margin-top: 0;
    margin-bottom: 0;
  }
  .materials__icon > img {
    width: 100%;
  }
  .contacts__body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 30px 0 0;
  }
  .contacts__info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 25px;
  }
  .contacts__info > div > h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .contacts__main {
    margin-right: 50px;
  }
  .contacts__main, .contacts__manufacture {
    min-width: 50;
    max-width: 201px;
  }
  .contacts__img > img {
    width: 100%;
    vertical-align: top;
  }
  .footer__items {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  .footer__items-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin: 10px 30px;
  }
  .footer__item-name:first-child {
    margin-bottom: 0;
  }
  .footer__banner {
    margin: 10px 0;
  }
  .footer__social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .footer__social > .footer__social-icon {
    margin-right: 10px;
  }
  #go-top {
    position: fixed;
    bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .shared {
    margin: 15px 0;
  }
  .shared__header {
    font-size: 0.9rem;
    margin: 0 10px;
  }
  .shared__line {
    width: 60px;
  }
  header {
    opacity: 1;
  }
  .nav-mobile__container-menu {
    display: flex;
  }
  .nav-mobile__menu {
    position: absolute;
    top: 0;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-mobile__menu > li {
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    background: rgb(44, 44, 44);
    border-bottom: 1px solid rgb(255, 255, 255);
    height: 2em;
    padding: 0.5em;
    transition: all 0.35s ease-out;
  }
  #menu-toggle:checked ~ .menu li:last-child {
    border-bottom: none;
  }
  .intro__inner {
    align-items: center;
    text-align: center;
  }
  .intro__title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .intro__subtitle {
    font-size: 1.1rem;
    padding: 0 20px;
  }
  .intro__arrow {
    display: none;
  }
  .about {
    height: 560px;
  }
  .about-mobile__description {
    width: auto;
    max-width: 560px;
    min-width: 320px;
    padding: 0 20px;
  }
  .about-mobile__description > p {
    font-size: 0.8rem;
  }
  .about-mobile__info-box {
    margin-left: 18%;
  }
  .about-mobile__info-box:last-child {
    margin-left: calc(18% + 50px);
  }
  .about-mobile__info-box > span {
    font-size: 0.7rem;
  }
  .products__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products__card {
    position: relative;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .products__card > img {
    display: block;
    width: 320px;
    height: 400px;
  }
  .products__card-title {
    position: absolute;
    bottom: 50%;
    font-size: 1.2rem;
  }
  .doors {
    margin-top: 0;
    margin-bottom: 0;
  }
  .doors__container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .doors__img {
    width: 100% !important;
    min-height: 200px !important;
    height: auto;
  }
  .doors__img > div {
    min-height: 200px !important;
  }
  .doors__img > div > img {
    min-height: 200px !important;
  }
  .doors__info {
    margin-top: 10px;
  }
  .doors__info-title {
    margin-bottom: 15px;
  }
  .doors__info-title > p {
    font-size: 1rem;
  }
  .doors__info-description {
    font-size: 0.8rem;
  }
  .doors__info-switch > div > .background__orange {
    display: none;
  }
  .doors__info-switch > div > .wodo__arrow-l > div, .doors__info-switch > div > .wodo__arrow-r > div {
    display: flex;
  }
  .doors__info-params {
    margin: 20px 0;
  }
  .doors__info-params > p {
    font-size: 0.8rem;
  }
  .doors__info-params > p > span {
    font-size: 0.8rem;
  }
  .drawer__info {
    margin-top: 20px;
  }
  .drawer__info-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .drawer__gallery-switch {
    margin-bottom: 10px;
  }
  .drawer__gallery-switch > div > .background__black {
    display: none;
  }
  .drawer__gallery-switch > div > .wodo__arrow-l > div, .drawer__gallery-switch > div > .wodo__arrow-r > div {
    display: flex;
    margin: 10px 0;
    padding: 0;
  }
  .profiled {
    margin: 10px 0;
  }
  .profiled__body {
    padding: 0;
    max-width: auto;
  }
  .profiled__top {
    padding: 0 10px;
  }
  .profiled__top-info > h2 {
    font-size: 1rem;
  }
  .profiled__top-info > p {
    font-size: 0.8rem;
  }
  .profiled__top-images > div > img {
    width: 100%;
  }
  .profiled__top-images > div > div > h2 {
    font-size: 0.8rem;
  }
  .profiled__top-images > div > div > div {
    width: 45%;
  }
  .profiled__j {
    margin-right: 10px;
  }
  .profiled__bottom {
    margin-bottom: 20px;
  }
  .profiled__bottom > .profiled__info {
    display: inline;
    margin: 0 20px;
  }
  .profiled__bottom > .profiled__info > h2 {
    font-size: 1rem;
  }
  .profiled__bottom > .profiled__info > p {
    font-size: 0.8rem;
  }
  .profiled__bottom > .profiled__slider {
    position: relative;
  }
  .profiled__bottom > .profiled__slider > .profiled__img {
    width: 100%;
    height: auto;
  }
  .profiled__bottom > .profiled__slider > .profiled__img > div {
    width: 100%;
    height: auto;
  }
  .profiled__bottom > .profiled__slider > .profiled__img > div > img {
    width: 100%;
    height: auto;
  }
  .profiled__bottom > .profiled__slider > .profiled__img > div > h3 {
    margin-left: 10px;
  }
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .background__orange {
    display: none;
  }
  .profiled__bottom > .profiled__slider > .profiled__info-switch {
    position: absolute;
  }
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l > div, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r > div {
    position: absolute;
    display: flex;
    margin-top: 10px;
  }
  .form {
    height: 900px;
  }
  .form__box {
    width: 85%;
  }
  .form__checkbox {
    display: flex;
    flex-direction: column;
  }
  .form__checkbox > label {
    display: flex;
  }
  .form__button > a {
    margin-top: 25px;
    padding: 15px 100px;
  }
  .contacts__img {
    width: auto;
  }
  .contacts__img > img {
    width: 100%;
    min-height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contacts__info > div {
    width: auto;
    min-width: auto;
    max-width: auto;
  }
  .contacts__info > .contacts__main {
    margin-right: 20px;
  }
  .contacts__info > div > h2 {
    font-size: 1rem;
  }
  .contacts__info > div > p {
    font-size: 0.8rem;
  }
  .phone, .mail {
    font-size: 0.8rem;
  }
  .footer__items-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__items-tablet {
    display: none;
  }
  .footer__banner {
    margin: 10px 0;
  }
  .footer__social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  textarea {
    max-height: 60px;
  }
  #go-top {
    position: fixed;
    right: 20px;
  }
}
@media screen and (max-width: 630px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 610px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: 0px;
  }
}
@media screen and (max-width: 600px) {
  .about {
    height: 530px;
  }
  .about-mobile__slogan {
    bottom: -3%;
  }
  .about-mobile__description {
    width: auto;
    max-width: 560px;
    min-width: 320px;
    padding: 0 20px;
  }
  .about-mobile__description > p {
    font-size: 0.8rem;
  }
  .about-mobile__info-box {
    margin-left: 10%;
  }
  .about-mobile__info-box:last-child {
    margin-left: calc(10% + 50px);
    width: auto;
    padding-right: 20px;
  }
  .about-mobile__info-box > span {
    font-size: 0.7rem;
  }
  .materials__content {
    height: 100px;
  }
  .materials__button > a {
    padding: 15px 75px;
  }
  .form__button {
    padding: 15px 125px;
  }
}
@media screen and (max-width: 595px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -10px;
  }
}
@media screen and (max-width: 580px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -15px;
  }
}
@media screen and (max-width: 565px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -25px;
  }
}
@media screen and (max-width: 550px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -35px;
  }
}
@media screen and (max-width: 535px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -45px;
  }
}
@media screen and (max-width: 520px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -55px;
  }
}
@media screen and (max-width: 500px) {
  .profiled__bottom > .profiled__slider > .profiled__img > div > h3 {
    font-size: 0.9rem;
  }
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -65px;
  }
}
@media screen and (max-width: 480px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -70px;
  }
}
@media screen and (max-width: 470px) {
  .about {
    height: 555px;
  }
  .about-mobile__slogan {
    bottom: -3%;
  }
  .about-mobile__info-box {
    margin-left: 5%;
  }
  .about-mobile__info-box:last-child {
    margin-left: calc(5% + 50px);
    width: auto;
    padding-right: 20px;
  }
}
@media screen and (max-width: 460px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -80px;
  }
}
@media screen and (max-width: 440px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -90px;
  }
  .materials__button > a {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 420px) {
  .about {
    height: 580px;
  }
  .about-mobile__slogan {
    bottom: -3%;
  }
  .about-mobile__info-box {
    margin-left: 5%;
  }
  .about-mobile__info-box:last-child {
    margin-left: calc(5% + 50px);
    width: auto;
    padding-right: 20px;
  }
  .form__button {
    padding: 15px 100px;
  }
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -105px;
  }
  .contacts__manufacture {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -110px;
  }
}
@media screen and (max-width: 390px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -115px;
  }
}
@media screen and (max-width: 380px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -120px;
  }
}
@media screen and (max-width: 370px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -125px;
  }
}
@media screen and (max-width: 360px) {
  .about {
    height: 620px;
  }
  .about-mobile__slogan {
    bottom: -2%;
  }
  .about-mobile__info-box {
    margin-left: 5%;
  }
  .about-mobile__info-box:last-child {
    margin-left: calc(5% + 50px);
    width: auto;
    padding-right: 20px;
  }
  .materials__button > a {
    padding: 15px 30px;
    letter-spacing: 3px;
  }
  .profiled {
    margin: 10px 0;
  }
  .profiled__body {
    padding: 0;
  }
  .profiled__top-images > div > div > div {
    width: 35%;
  }
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -130px;
  }
}
@media screen and (max-width: 350px) {
  .about {
    height: 620px;
  }
  .about-mobile__slogan {
    bottom: -2%;
  }
  .about-mobile__info-box {
    margin-left: 5%;
  }
  .about-mobile__info-box:last-child {
    margin-left: calc(5% + 50px);
    width: auto;
    padding-right: 20px;
  }
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -135px;
  }
}
@media screen and (max-width: 340px) {
  .profiled__bottom > .profiled__slider > .profiled__info-switch {
    display: none;
  }
  .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-l, .profiled__bottom > .profiled__slider > .profiled__info-switch > div > .wodo__arrow-r {
    position: absolute;
    top: -135px;
  }
}/*# sourceMappingURL=style.css.map */